/* Global */
*{
    --dark: #22282F;
    --light: #EEEEEE;
    --off-light: #FFFFF4;
    --highlight: #6979F8;
    color: var(--dark);
}

body{
    background: var(--light);
}

.fill{
    height: 85vh;
}

table{
    font-size: 0.8rem;
}



/* Nav */

nav{
    background: var(--light);
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.inner-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 23px;
    
    position: relative;
    width: 375px;
    height: 90px;
    
    background: var(--light);
    border: 1px solid #D0D5DD;
    border-radius: 0px 0px 16px 16px;
}

.nav-icon{
    font-size: 2rem;
    color: var(--dark);
    padding: 15px 15px;
}

.is-active{
    border-top: 5px solid var(--highlight);
}

.nav-icon :hover{
    color: var(--hightlight);
}

ul{
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li{
    padding: 5px 20px;
    list-style: none;
}

a{
    font-size: 1.5rem;
    cursor: pointer;
}

a:hover{
    color:#6979F8;
}

.focused{
    font-size: 1.8rem;
}

/* Body */ 

.body-container {
    height: 81vh;
}

.invisible-textbox {
    opacity: 0;
    height: 0;
    width: 0;
}

.starter-button {
    margin: 20px;
    border: 2px solid var(--highlight);
    border-radius: 10px;
    color: var(--highlight);
}

.key-container{
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    background-color: var(--off-light);
    color: #000000;
    line-height: 48px;
    text-align: center;
    margin-top:20px;
    margin-left: 2px;
    border-radius: 4px;
}


.key{
    color: #22282F;
    font-size: 1.5rem;
}

.body-main-container {
    justify-content: center;
    display: flex;
    flex-direction:row;
    margin: 50px;
    border: 1px solid #000;
    border-radius: 30px;
    overflow: hidden;
}

.start-button{
    flex-grow: 1;
    background: var(--light);
    color: var(--dark);
    width: 100%;
    font-size: 2rem;
    border: none;
    padding: 100px;
}


@keyframes breathing {
    0% {
        text-shadow: 0px 0px 5px rgba(167, 109, 233, 0.2);
        blur-radius: 5px;
      }
    
      25% {
        text-shadow: 0px 0px 5px rgba(167, 109, 233, 0.4);
        blur-radius: 10px;
      }
    
      60% {
        text-shadow: 0px 0px 5px rgba(167, 109, 233, 0.7);
        blur-radius: 15px;
      }
    
      100% {
        text-shadow: 0px 0px 5px rgba(167, 109, 233, 1);
        blur-radius: 20px;
      }
}

.top-container {
    background: var(--light);
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    justify-content: center;
    text-align: center;
}

.active{
    color: greenyellow;
    font-size: 1.5rem;
    font-weight: 700;
}

@keyframes wrong{
    0% {font-size:1.9rem; transform: rotate(20deg);}   
    25% {font-size:1.8rem; transform: rotate(40deg);}
    50% {font-size:1.7rem; transform: rotate(20deg);}
    75% {font-size:1.8rem; transform: rotate(0deg);}
    100% {font-size: 1.9rem; transform: rotate(-20deg)}
}

.wrong{
    color: tomato;
    font-size: 1.5rem;
    font-weight: 700;
    animation-name: wrong;
    animation-duration: 1s;
}

.space-xl{
    margin: 20px 10px;
}

#test{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* Scoreboard */

.scoreboard-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    justify-content: space-evenly;
}

.wpm{
    font-weight: bold;
    
    display: block;
    line-height: 1;
    margin: 1rem auto;
}

.accuracy{
    font-weight: bold;
    margin-top: 25px;
}

.focus{
    font-weight: bold;
    display: block;
    line-height: 1;
    margin: 1rem auto;
}

.top-score-container {
    margin: 10px;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
}

.time-container {
    margin-top: 25px;
}

.wpm-container {
    position: relative;
    width: 110px;

}

.wpm-container p{
    margin-top: 20px;
    font-weight: 700;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/

}

.score-container {
    margin-top: 12px;
}

.progress-container {
    margin: 5px;
}


.bar {
    display: flex;
    overflow: hidden;
    background: #bbbbbb;
    width: calc(100vw - 120px);
    border-radius: 25px;
}

.bar-current {
    padding: 5px;
    width: 10%;
    background: #6979F8;
    border-radius: 50px;
    color: #FFF;
    font-weight: 700;
    text-align: end;
}

/* profile */

.logout-button {
    color:#6979F8;
    font-size: 1.3rem;
    border: 2px solid #6979F8;
    border-radius: 5px;
}

.logout-button:hover{
    background-color:#6979F8;
    color:#22282F;
    border: 2px solid #22282F;
}

.profile-outer-container {
    height: 85vh;
    display: flex;
    flex-direction: row;
}

.profile-dashboard-container {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction:column;
    width: 230px;
    height: 100%;
    justify-content: space-evenly;
}

.profile-dashboard-container ul {
    display: flex;
    flex-direction: column;
}

.profile-dashboard-container li:hover {
    border-bottom: 4px solid #6979F8;
}
.profile-dashboard-container a {
    text-decoration: none;
    color: #22282F;
}

.profile-icon {
    width: 60px;
    height: 60px;
    background: url('../../assets/profileicon.jpg');
    background-size: cover;
    border-radius: 50%;
}

.profile-left {
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    width: 40%;
}

.profile-right {
    width:40%;
}

.profile-body-container {
    display: flex;
    justify-content:center;
    width: 100%;
}

/* search */

.search-container {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.inner-search-container {
    height: 100%;
    width: 60%;
    order: 0;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    flex-grow: 0;
}

.search{
    margin-top: 40px;
    background: rgba(250, 250, 250, 0.93);
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    width: 100%;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 0;
    gap: 10px;
}

/* login / signup */

.form-info-container {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly;
}

.form-info-container a {
    font-size: 1rem;
}

